* {
    margin: 0;
    padding: 0;
}

html {
    background: #201f1f;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
}

.offline {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    padding: 1rem;
    background: #ad2d1e;
    color: white;
    font-size: 1.4em;
    text-align: center;
}

.main {
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash {
    padding: 1rem;

    & > * + * {
        margin-top: 1rem;
    }
}

.logo {
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.show, .mbps {
    text-align: center;
    color: white;
    font-size: 1.4em;
}

.show {
    line-height: 1.5;

    &__name {
        font-weight: bold;
    }
}

.mbps {
    opacity: .6;
}

.softkey {
    background: #cccccc;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-weight: 600;

    &__enter {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.hidden {
    display: none !important;
}
