name: Release
on:
    push:
        tags:
            - 'v*'
jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            -   name: Get version from tag
                id: tag_name
                run: |
                    echo ::set-output name=current_version::${GITHUB_REF#refs/tags/v}
                shell: bash
            -   name: Checkout code
                uses: actions/checkout@v2
            -   name: Get Changelog Entry
                id: changelog_reader
                uses: mindsers/changelog-reader-action@v2
                with:
                    validation_depth: 10
                    version: ${{ steps.tag_name.outputs.current_version }}
                    path: ./CHANGELOG.md
            -   name: Build the App
                run: |
                    npm install
                    npm run build
                    npm run copy-static-to-dist
                    zip -r build build/
            -   name: Create Release
                id: create_release
                uses: actions/create-release@v1
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    tag_name: ${{ steps.changelog_reader.outputs.version }}
                    release_name: Release ${{ steps.changelog_reader.outputs.version }}
                    body: ${{ steps.changelog_reader.outputs.changes }}
                    prerelease: ${{ steps.changelog_reader.outputs.status == 'prereleased' }}
                    draft: ${{ steps.changelog_reader.outputs.status == 'unreleased' }}
            -   name: Upload Release Asset
                id: upload-release-asset
                uses: actions/upload-release-asset@v1
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    upload_url: ${{ steps.create_release.outputs.upload_url }}
                    asset_path: ./build.zip
                    asset_name: tilos-radio-for-kaios-${{ steps.changelog_reader.outputs.version }}.zip
                    asset_content_type: application/zip
